.cbgs-container{
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cbgs-container[data-bg-size="cover"]{
    background-size:cover;
}
.cbgs-container[data-bg-size="contain"]{
    background-size:contain;
}

.cbgs-fallback-container{
    background-image: none !important;
}